<waiting
  *ngIf="loading"
  message="{{ 'Loading ' + ('segment' | translate) + ' list...' }}"
></waiting>
<div *ngIf="!loading">
  <div class="segmentContainer">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSegment">
      <mat-button-toggle
        class="item"
        *ngFor="let seg of segments"
        [value]="seg"
        (change)="segmentSelectionChanged(seg)"
      >
        <div class="segmentHeader">
          <span></span>
          <span class="headerText">SEG {{ seg.sequence }}</span>
          <span></span>
        </div>
        <mat-card-title>{{ seg.name }}</mat-card-title>
        <div class="lengthDisplayContainer">
          <div class="lengthDisplayContainerItem" *ngFor="let i of seg.maxLength | fill">X</div>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="ItemMasterActionsContainer" *ngIf="!loading">
    <button class="hover-scale-5" color="primary" mat-raised-button (click)="addNewSegment()">
      <mat-icon>library_add</mat-icon>
      {{ 'add' | translate }} {{ 'segment' | translate }}
    </button>
    <button
      class="hover-scale-5"
      color="primary"
      mat-raised-button
      (click)="editSegment()"
      [disabled]="!selectedSegment"
    >
      <mat-icon>edit</mat-icon>
      <span>{{ 'edit' | translate }} {{ 'segment' | translate }}</span>
    </button>
    <button
      class="hover-scale-5"
      color="primary"
      mat-raised-button
      (click)="deleteSegment()"
      [disabled]="!selectedSegment"
    >
      <mat-icon>delete</mat-icon>
      <span>{{ 'delete' | translate }} {{ 'segment' | translate }}</span>
    </button>

  </div>
  <div class="ItemMasterActionsContainer" *ngIf="!loading">

    <button
      class="hover-scale-5"
      color="primary"
      mat-raised-button
      (click)="viewSegmentDetail()"
      [disabled]="!selectedSegment"
    >
      <mat-icon>details</mat-icon>
      {{ 'view' | translate }} {{ 'details' | translate }}
    </button>
  </div>
</div>

<div *ngIf="selectedSegment">
  <div *ngIf="showMappingRecordsPanel">
    Adding mapping records for segment {{ selectedSegment.name }}
  </div>
</div>


<app-code-selector></app-code-selector>
