.segmentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  column-gap: 3px;
}

.segmentContainer .item {
  text-align: center;
  padding: 5px;
}

.lengthDisplayContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.lengthDisplayContainerItem {
  flex: 1;
}

.segmentHeader {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr 30px;
}

.segmentHeaderActionButton {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}

.ItemMasterActionsContainer {
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
}
