.under {
  z-index: -1;
}

.over {
  z-index: -1;
  position: absolute;
}

.brand-button {
  display: inline-flex;
}

.waitingDiv {
  display: flex;
  justify-content: center;
}

.waitingContainer {
  height: 100%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.waitingImageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.blockMessage {
  margin: 10px;
}

.brand-name {
  height: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.myHomeIcon {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 5s infinite linear;
  animation: load8 5s infinite linear;
}

.oppositeRotateSlow {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load9 4.4s infinite linear;
  animation: load9 4.4s infinite linear;
}

.oppositeRotateFast {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load9 1.4s infinite linear;
  animation: load9 1.4s infinite linear;
}

.rotateFaster {
  -webkit-animation: load8 1s infinite linear;
  animation: load8 1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes load9 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes load9 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
