<div class="blockouter">
  <div class="blockmiddle">
      <div class="blockinner">

          <div class="blockWaiting">
              <img class="under" alt="innerorbit.white.png" src="../../Images/innerorbit.white.png" width="100" height="100" />
              <img class="over myHomeIcon rotateFaster" alt="outerorbit.white.png" src="../../Images/outerorbit.white.png" width="100" height="100" />
              <img class="over oppositeRotateFast" alt="outerorbit2.white.png" src="../../Images/outerorbit.white.png" width="100" height="100" />
          </div>
          <div class="blockMessageDark">
              <h3>
                  <span>{{message}}</span>
              </h3>
          </div>

      </div>
  </div>
</div>
