<div class="waitingDiv">
  <div class="waitingContainer">
      <div class="waitingImageContainer">

          <div class="blockWaiting">
              <img class="under" alt="innerorbit.white.png" src="assets/images/innerorbit.white.png" width="100" height="100" />
              <img class="over myHomeIcon rotateFaster" alt="outerorbit.white.png" src="assets/images/outerorbit.white.png" width="100" height="100" />
              <img class="over oppositeRotateFast" alt="outerorbit2.white.png" src="assets/images/outerorbit.white.png" width="100" height="100" />
          </div>
          <div class="blockMessage blockMessageDark">
              <h3>
                  <span>{{message}}</span>
              </h3>
          </div>

      </div>
  </div>
</div>
