<div class="waitingDiv" *ngIf="!backgroundDark">
  <div class="waitingContainer">
    <div class="waitingImageContainer">
      <img
        class="under"
        alt="innerorbit.black.png"
        src="assets/images/innerorbit.black.png"
        width="50"
        height="50"
      />
      <img
        class="over myHomeIcon rotateFaster"
        alt="outerorbit.black.png"
        src="assets/images/outerorbit.black.png"
        width="50"
        height="50"
      />
      <img
        class="over oppositeRotateFast"
        alt="outerorbit.black.png"
        src="assets/images/outerorbit.black.png"
        width="50"
        height="50"
      />
    </div>
    <div class="blockMessage">
      <span>
        {{ message }}
      </span>
    </div>
  </div>
</div>

<div class="waitingDiv" *ngIf="backgroundDark">
  <div class="waitingContainer">
    <div class="waitingImageContainer">
      <img
        class="under"
        alt="innerorbit.white.png"
        src="assets/images/innerorbit.white.png"
        width="50"
        height="50"
      />
      <img
        class="over myHomeIcon rotateFaster"
        alt="outerorbit.white.png"
        src="assets/images/outerorbit.white.png"
        width="50"
        height="50"
      />
      <img
        class="over oppositeRotateFast"
        alt="outerorbit.white.png"
        src="assets/images/outerorbit.white.png"
        width="50"
        height="50"
      />
    </div>
    <div class="blockMessage">
      <span style="color: white">
        {{ message }}
      </span>
    </div>
  </div>
</div>
