.company-card {
  display: inline-flex;
  margin-right: 10px;
}

.address {
  display: table-caption;
}

.company-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  margin-bottom: 10px;
}
